@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family:'Roboto Condensed';
    font-size:21px;
    padding:1% 5%;
    background-image: url('img/pcb.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
p 
{
    text-align:justify;
    text-indent:48px;
}
p::first-letter
{
    font-size:32px;
    font-family:'Segoe Script';
}
figure
{
    text-align:center;
    font-style:italic;
    font-weight:100;
}
ul
{
    list-style:none;
}
a
{
    text-decoration:none;
}
a:active
{
    color:green;
}
a:visited
{
    color:darkgreen;
}
a:hover
{
    font-weight:800;
    background-color:black;
    color:white;
}
:target /*> span*/
{
    background-color:limegreen;
}
:target + div
{
    border-radius: 15px;
    background-color: rgba(220, 220, 220, .5);
    box-shadow: 0 0 25px 25px rgba(220, 220, 220, .7);
}
div
{
    padding:16px;
}
    div > p {
        /*Стили будут применяться только к тем элементам <p>, которые вложены в элемент <div>
        ---------------------------------------------------------------------
        <div>
            <p>Здесь стили применятся</p>
            <article>
                <p>А здесь уже НЕ применятся, поскольку нет вложения в <div> </p>
            </article>
            <p>Здесь стили применятся</p>
        <div>
        ---------------------------------------------------------------------
    */
    }
    div p {
        /*Стили будут применться к тем элементам <p>, которые вложены в элемент <div> на любой уровень глубины
        ---------------------------------------------------------------------
        <div>
            <p>Здесь стили применятся</p>
            <article>
                <p>Здесь стили применятся, поскольку такое отношение применяет стили на любом уровне вложенности (глубине) </p>
            </article>
            <p>Здесь стили применятся</p>
        <div>
        ---------------------------------------------------------------------
    */
    }
div + p
{
    /*Стили будут применяться к тем элементам <p>, которые следуют за элементом <div> на одной глубине

    */
}
div